.wrapper{
    border: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
}
h1{
    text-align: center;
}
.h_wrapper, .ul_wrapper, .table_wrapper {
    border: 1px solid #ccc;
    padding: 20px;
}
.hilight{
    color: red;
}
table{
    width: 100%;
    border: 1px solid #ccc ;
}
td{
    border: 1px solid #ccc;
}